<html  xmlns:th="https://www.thymeleaf.org">

    <head>
        <title>TechShop</title>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" class="header"/>

        <div class="contenido">

            <div>Saludos</div>

            <h2>Nuetros articulos articulos</h2>

            <div th:if="${articulos !=null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo: ${articulos}">
                            <td>[[${articulo.descripcion}]]</td>
                            <td style="text-align: right">[[${#numbers.formatDecimal(articulo.precio,3,2)}]]</td>
                            <td><a th:href="@{/carrito/agregar/}+ ${articulo.idArticulo}">Comprar</td>        


                        </tr>
                    </tbody>
                </table>

            </div>
            <div th:if="${articulos ==null or articulos.empty}">
                <h2>No se tienen articulos que mostrar!</h2>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer" class="footer"/>
    </body>
</html>